body, button {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: white;
    border-bottom: 2px solid white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
    height: 100px; /* 고정 높이 지정 이번에 추가 */
}


.right-side button {
    padding: 12px 20px; /* 패딩을 늘려 버튼 크기를 크게 만듦 */
    margin-right: 20px; /* 오른쪽 마진을 주어 다른 요소와 간격을 둠 */
    background-color: white; /* 배경색을 흰색으로 설정 */
    border: none; /* 테두리 제거 */
    color: #E7480C; /* 글자색을 주황색으로 설정 */
    font-size: 15px; /* 글자 크기를 늘림 */
    cursor: pointer; /* 커서를 포인터로 설정 */
    border-radius: 5px; /* 모서리를 둥글게 설정 */
    font-weight: bold;
}

.right-side button:last-child {
    margin-right: 50px; /* 마지막 버튼에 추가 마진 */
}

.right-side button:hover {
    background-color: whitesmoke; /* 호버 시 더 어두운 흰색으로 변경 */
}

main {
    padding-top: 150px; /* 헤더 아래에 공간을 추가 */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* 추가된 부분 */
    box-sizing: border-box; /* 추가된 부분 */
}

.text-container {
    text-align: center;
    margin-bottom: 20px; /* 텍스트 아래에 여백 추가 */
    margin-top: -30px;
}

.text-container h1 {
    font-size: 30px;
    color: #E7480C;
    margin-bottom: 10px;
}

.text-container h2 {
    font-size: 16px;
    color: #333;
}

.form-container {
    width: 100%;
    max-width: 600px;
    max-height: 700px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: -20px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 5px;
    font-size: 20px;
    color: #333;
    text-align: center;
    font-weight: bold;
}

.form-container input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.form-container button {
    padding: 12px 24px;
    background-color: #E7480C;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}

.form-container button:hover {
    background-color: #e67e22;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        height: auto; /* 작은 화면에서는 고정 높이를 제거 */
    }
    .right-side {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
    }
    .right-side button {
        margin-right: 10px;
    }

    main {
        padding-top: 200px; /* 작은 화면에서는 패딩 값을 더 크게 설정 */
    }
}