body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow: hidden;
}

header {
    background-color: white;
    border-bottom: 2px solid white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

main {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 50px);
    position: relative;
}

.page {
    width: 80%;
    height: 80%;
    display: flex;
}

.image-container {
    width: 50%;
    height: 100%;
}

.page-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.text-container {
    width: 50%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.text-container p {
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    font-style: sans-serif;
}

.next-page {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.next-page button {
    background-color: #E7480C;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    
}

.next-page button:hover {
    background-color: #e67e22;
}
