body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: white;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
}

main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 50px);
    position: relative;
}

.page {
    width: 80%;
    height: 80%;
    display: flex;
}

.image-container {
    width: 50%;
    height: 100%;
}

.page-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container {
    width: 50%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.text-container p {
    font-size: 18px; /* Adjust the font size as needed */
    font-weight: bold;
}

.navigation {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

.nav-button {
    background-color: #E7480C;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
}

.nav-button:hover {
    background-color: #e67e22;
}
